<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 
 <display-name>hello-servlet</display-name>
 <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   <!--  <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
  
  
   <servlet>
  	<servlet-name>MyFirstServlet</servlet-name>
  	<servlet-class>com.reva.sample.servlets.MyFirstServlet</servlet-class>
  	
  	<init-param>  
  		<param-name>myParam1</param-name>
  		<param-value>Hello </param-value>  		
  	</init-param>
  	
  	<init-param>
  		<param-name>myParam2</param-name>
  		<param-value>How are you? </param-value>  		
  	</init-param>

  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MyFirstServlet</servlet-name>
  	<url-pattern>/hello</url-pattern>  
  	<url-pattern>/s1</url-pattern>  
  </servlet-mapping>
  
  <!--  -->

     <servlet>
  	<servlet-name>MySecondServlet</servlet-name>
  	<servlet-class>com.reva.sample.servlets.MySecondServlet</servlet-class>
  	
  	<init-param>  
  		<param-name>version</param-name>
  		<param-value>2.0 </param-value>  		
  	</init-param>
  	
  	<init-param>
  		<param-name>myGrettings</param-name>
  		<param-value>Greetings panda !!!</param-value>  		
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MySecondServlet</servlet-name>
  	<url-pattern>/hi</url-pattern>  
  	<url-pattern>/s2</url-pattern>  
  </servlet-mapping>
 
 </web-app>
